# dependencies
/node_modules
/.pnp
.pnp.js

# framework-related
/.svelte-kit
/.vite

# build output
/dist
/build
/out

# logs and caches
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# env
.env
.env.*.local
.DS_Store

# editor and ide
.vscode
.idea
*.suo
*.suo.*
*.suo.*
*.suo
*.user
*.user.*
*.user.local